server {
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;

    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Methods' '*';
    add_header 'Access-Control-Allow-Headers' '*';
  }
}